/* #signup-img-3{
    margin-left: 40px;
    margin-bottom: 150px;
    margin-right: 40px;
    margin-top: 150px;
}



#signup-img{
	margin-left: 50px;
	margin-right: 25px;
    margin-top: 50px;
}

.card.o-hidden.border-0.shadow-lg.my-5{
	margin-right: 85px;
    left: 40px;
    right: 74px;
    margin-left: 40px;
}

img{
    
	margin-left: 100px;
} */

form.user .form-control-user {
  font-size: 0.8rem !important;
  padding: 1.3rem 1rem !important;
}

.bg-login-image {
  background: url(https://images.unsplash.com/photo-1491492628162-d88fbe1cdd04?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

form.user .btn-user {
  font-size: 0.9rem;
  /* border-radius: 10rem; */
  padding: 0.75rem 1rem;
}

.login-back i {
  font-size: 22px !important;
}
